@model ProyectoFinal.Models.Registration

@{
    ViewBag.Title = "Create";
    var group = ViewBag.Group as ProyectoFinal.Models.Group;
    var client = ViewBag.Client as ProyectoFinal.Models.Client;
}

<h2>Inscripción a clases de entrenamiento</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.Hidden("GroupID", group.GroupID)

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Socio
            </dt>

            <dd>
                <p>@client.FirstName @client.LastName</p>
            </dd>
            <dt>
                Clase
            </dt>

            <dd>
                <p>@group.Name</p>
                @Html.ValidationMessageFor(model => model.GroupID, "", new { @class = "text-danger" })
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Inscribirse" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
