@model ProyectoFinal.Models.Registration

@{
    ViewBag.Title = "Details";
    var group = ViewBag.Group as ProyectoFinal.Models.Group;
    var client = ViewBag.Client as ProyectoFinal.Models.Client;
}

<h2>Detalles inscripción</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          @*  @Html.DisplayNameFor(model => model.Client.FirstName)*@
            Cliente
        </dt>

        <dd>
           @Html.DisplayFor(model => model.Client.ClientID)
        
        </dd>

        <dt>
          @*  @Html.DisplayNameFor(model => model.Group.Name)*@
            Grupo
        </dt>

        <dd>
           @Html.DisplayFor(model => model.Group.GroupID)
          @*  @group.Name*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RegistrationID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
