<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gimnasio Amos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/destinatarios")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gimnasio Amos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Admin")
                    {


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Lista de clientes", "Index", "Clients")</li>
                                <li>@Html.ActionLink("Rutinas", "Index", "Routines")</li>
                                <li>@Html.ActionLink("Planillas", "Index", "MedicalRecords")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actividades<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Lista de actividades", "Index", "Activities")</li>
                                <li>@Html.ActionLink("Horarios", "Index", "ActivitySchedules")</li>
                                <li>@Html.ActionLink("Grupos", "Index", "Groups")</li>
                                <li>@Html.ActionLink("Inscripción a Grupos", "Index", "Registrations")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Abonos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Lista de abonos", "Index", "Payments")</li>
                                <li>@Html.ActionLink("Tipos de abono", "Index", "PaymentTypes")</li>
                                <li>@Html.ActionLink("Precios", "Index", "PaymentTypePrices")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                                <li>@Html.ActionLink("Proveedores", "Index", "Suppliers")</li>
                                <li>@Html.ActionLink("Stocks", "Index", "Stocks")</li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Comunicaciones", "Index", "Emails", null, null)</li>

                        <li>@Html.ActionLink("Estadísticas", "Index", "Statistics", null, null)</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nosotros<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catálogos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Actividades", "Catalog", "Activities")</li>
                                <li>@Html.ActionLink("Abonos", "Catalog", "PaymentTypes")</li>
                          
                                      @*<li>@Html.ActionLink("Inscripción a Grupos", "Index", "Registrations")</li>*@
                                @if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Instructor")
                                {
                                    <li>@Html.ActionLink("Inscripción a Grupos", "Index", "Registrations")</li>
                                }
                                @if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Client")
                                {
                                    <li>@Html.ActionLink("Inscripción a Grupos", "Index", "RegistrationClients", null, null)</li>
                                }
                            </ul>
                        </li>
                    }

                    @*Manejo paginas socio con mismo nivel de acceso que admin*@
                    @if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Client")
                    {
                        <li>@Html.ActionLink("Rutinas", "Index", "Routines", null, null)</li>
                    }
                    @*Manejo paginas socio con mismo nivel de acceso que admin*@

                    @*Manejo paginas profesor con mismo nivel de acceso que admin*@
                    @if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Instructor")
                    {
                        <li>@Html.ActionLink("Clientes", "Index", "Clients", null, null)</li>
                                            <li>@Html.ActionLink("Comunicaciones", "Index", "Emails", null, null)</li>
                    }
                    @*Manejo paginas profesor con mismo nivel de acceso que admin*@

                    @*Manejo de Pagina de ayuda*@
                    @if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Admin")
                    {
                        <li>@Html.ActionLink("Ayuda", "Admins", "Help", null, null)</li> 
                    }
                    else if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Instructor")
                    {
                        <li>@Html.ActionLink("Ayuda", "Profesores", "Help", null, null)</li>
                    }
                    else if (Session["Role"] != null && Session["User"] != null && Session["Role"].ToString() == "Client")
                    {
                        <li>@Html.ActionLink("Ayuda", "Socios", "Help", null, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Ayuda", "Index", "Help", null, null)</li>
                    }
                    @*Manejo de Pagina de ayuda*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gimnasio Amos. Gimnasio & Fitness</p>
        </footer>
    </div>
</body>
</html>


