@model IEnumerable<ProyectoFinal.Models.ViewModels.DestinatariesViewModel>
@{

    ViewBag.Title = "Destinatarios";
}

<script type="text/javascript" src="~/Scripts/forViews/Emails_Destinatarios.js"></script>

<h5>PASO 2 DE 2 | Elija un grupo de destinatarios para la comunicación</h5>
<div class="alert alert-danger errorAlert" style="display:none">
    <strong>Ups!</strong> <span class="errorAlertMsj">Ha surgido un error. Por favor, vuelve a intentar más tarde.</span>
    <a class="errorAlertX"><span>X</span></a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="funkyradio">
                @foreach (var destinataryType in Model)
                {
                    <div class="funkyradio-success">
                        <input type="radio" name="radio" id="@destinataryType.ID" data-destinatary-type="@destinataryType.DestinataryType.ToString()" />
                        <label for="@destinataryType.ID">@destinataryType.Name</label>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-10">
        @Html.ActionLink("Cancelar", "Index", "Emails", null, new { @class = "btn btn-default" })
        <input type="button" id="btnSendCommunication" value="Enviar" class="btn btn-primary" />
    </div>
</div>
